<div class="modal-header">
	<h1 class="modal-title fs-5" id="modalLabel">Boutique {{ isEdit is defined ? 'modifiée':'ajoutée'}}</h1>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<h2 class="text-success text-center">Boutique {{ isEdit is defined ? 'modifiée':'ajoutée'}} avec succès!</h2>

</div>
